<meta http-equiv="refresh" content="0;url=https://soska.github.io/keyboardist.js/docs/index.html" />
<p>
  Redirecting to <a href="https://soska.github.io/keyboardist.js/docs/index.html"
    >Keyboardist docs</a
  >...
</p>
<script>
  if (typeof window !== 'undefined') {
    window.location.href = 'https://soska.github.io/keyboardist.js/docs/index.html';
  }
</script>
