---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Not Found | Armando Sosa">
  <h1>NOT FOUND</h1>
  <p>You just hit a route that doesn't exist... the sadness.</p>
</MainLayout>
