---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import RoleRotator from '../components/RoleRotator';
import Thumbnails from '../components/Thumbnails.astro';
import Socials from '../components/Socials.astro';
import Articles from '../components/Articles.astro';
import About from '../components/About.astro';

const allProjects = await getCollection('projects');
---

<MainLayout title="Armando Sosa">
  <div class="mx-auto flex h-[40vh] w-full flex-col items-center justify-end bg-accent text-white">
    <div class="wrapper flex flex-col py-8">
      <h1 class="border-b-4 border-white/50 p-4 font-grotesque text-7xl font-bold">Armando Sosa</h1>
      <div class="p-4 font-grotesque text-7xl font-bold">
        <RoleRotator client:load />
      </div>
    </div>
    <Socials />
  </div>

  <Thumbnails projects={allProjects} />

  <Articles />

  <About />
</MainLayout>
