---
const links = [
  ['Twitter', 'https://twitter.com/soska'],
  ['Instagram', 'https://instagram.com/soska'],
  ['Dribbble', 'https://dribbble.com/soska'],
  ['Github', 'https://github.com/soska'],
];
---

<footer class="flex flex-wrap justify-center gap-3 border-t border-line bg-surface p-4">
  {
    links.map(([label, href]) => (
      <a href={href} target="_blank" rel="noreferrer" class="px-1.5 py-1">
        {label}
      </a>
    ))
  }
</footer>
