---
import TwitterIcon from "./icons/TwitterIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import BlueskyIcon from "./icons/BlueskyIcon.astro";
import DribbbleIcon from "./icons/DribbbleIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
---

<div class="wrapper flex items-center justify-center">
  <div class="w-full flex flex-wrap items-center gap-2 text-white">
    <div class="text-stone-300 -mr-2">stalk me on</div>
    <a href="https://twitter.com/soska" target="_blank" rel="noreferrer" class="inline-flex justify-center items-center gap-2 p-4 rounded opacity-75 hover:opacity-100 transition-opacity">
      <TwitterIcon />
      Twitter / X
    </a>
    <a href="https://instagram.com/soska" target="_blank" rel="noreferrer" class="inline-flex justify-center items-center gap-2 p-4 rounded opacity-75 hover:opacity-100 transition-opacity">
      <InstagramIcon />
      Instagram
    </a>
    <a href="https://bsky.app/profile/armandososa.bsky.social" target="_blank" rel="noreferrer" class="inline-flex justify-center items-center gap-2 p-4 rounded opacity-75 hover:opacity-100 transition-opacity">
      <BlueskyIcon />
      Bluesky
    </a>
    <a href="https://dribbble.com/soska" target="_blank" rel="noreferrer" class="inline-flex justify-center items-center gap-2 p-4 rounded opacity-75 hover:opacity-100 transition-opacity">
      <DribbbleIcon />
      Dribbble
    </a>
    <a href="https://github.com/soska" target="_blank" rel="noreferrer" class="inline-flex justify-center items-center gap-2 p-4 rounded opacity-75 hover:opacity-100 transition-opacity">
      <GithubIcon />
      Github
    </a>
  </div>
</div>
