---
import RoleRotator from './RoleRotator';
---

<div class="bio">
  <p>
  I am Armando Sosa. A <RoleRotator client:load />
  </p>
  <p>
    I live in Guadalajara, Mexico. Welcome to my site.
  </p>
</div>

<style>
  .bio {
    margin-bottom: 2.5rem;
    color: hsla(0, 0%, 0%, 0.55);
    font-weight: 600;
    /* font-size: clamp(1.05rem, 1.3vw, 1.5rem); */
    font-size: clamp(1.8rem, 4vw, 2.1rem);
    line-height: 1.55;
  }
</style>
