.role {
  color: var(--accent);
  display: inline-flex;
  flex-direction: column;
  background-color: yellow;
  height: 1.5em;
  border: 1px solid red;
  position: relative;
}

.roles {
  display: flex;
  flex-direction: column;
  /* transform: translateY(-1.5rem); */

  & > span {
    height: 1.5em;
    border: 1px solid blue;
    position: absolute;
    top: 0;
    left: 0;
  }
}
