---
import { Font } from 'astro:assets';
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import Socials from '../components/Socials.astro';

interface Props {
  title?: string;
  heading?: string;
}

const { title = 'Armando Sosa', heading } = Astro.props;
---

<html lang="en" class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content="Armando Sosa blog and projects" />
    <Font cssVariable="--font-bricolage-grotesque" preload />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Nav />

    <main>
      {heading ? <h1 class="mt-0 mb-11 text-left text-heading text-accent">{heading}</h1> : null}
      <slot />
    </main>

    <div class="bg-gray-800">
      <div class="wrapper">
        <Socials />
      </div>
    </div>
    <!-- <Footer /> -->
  </body>
</html>
